.content-header{
  background-color: #EAEDF3;
  border-radius: 3px 3px 0px 0px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .35px;
  color: #212934;
  padding: 8px 18px;
  //margin: 12px 0px 12px 0px;
}